.Container {
    box-shadow: 5px 5px 7px 0px rgba(20, 12, 12, 0.61);
    background-image: url("https://cdn-v2.asla.org/uploadedImages/CMS/Shop/Bookstore/books.jpg");
    background-size: cover;
    height: 300px;
    background-position: center;
}
.search {
    padding: 15px;
    font-style: italic;
    font-size: 2rem;
    border: 2px solid rgb(22, 11, 17);
    border-radius:  13px;
   
}
.form-group h2 {
    width: 60vw;
    text-align: center;
    margin-left: 25%;
}
 input {
    padding: 10px;
    margin-left: 25%;
}
button{
    padding: 10px;
    margin-left: 25px;
}
.form-control {
    padding: 10px;
    margin-left: 25%;
    width: 30%;
}
.btn {
    padding: 10px;
    margin-left:25%;
    width: 100px
    ;
}